# SUMMER 2020

# CSE110 MID
**<font color='red'>[MUST MAINTAIN VARIABLE NAMING CONVENTIONS FOR ALL THE TASKS]</font>**

**<font color='red'>[Writing comments(explanatory sentences) in any of the code is completely optional]</font>**

# Task 01
Mrs. Mishti regularly orders from her local cake shop. She is very fond of their fruit and cheesecakes. Depending on her total bill amount, the shop offers her a discount. The price of one fruit cake is **150** taka and the price of one cheese-cake is **100** taka. The table below shows the discount she will get on her total amount.



|Total Amount (TK)|Discount (TK)|
|------|------|
|0 - 250|No Discount|
|251 - 599|35|
|600 - 849 |80|
|850 - 999|100|
|>= 1000|150|

Write a python program that takes two inputs from the user. The first input will be the number of fruit cakes and the second input will be the number of cheese-cakes. Based on the price of items, calculate the total amount that Mrs. Mishti will have to pay.   

 ================================


**Sample input(1):**\
0\
2


**Sample Output(1):**\
Previous total: 200\
New total after discount: 200


*Explanation(1): 0 * 150 + 2 * 100= 200Tk was her bill without discount.  For 200Tk, the discount amount is 0Tk. So, her new bill with a discount is (200-0)= 200Tk.*

================================

**Sample input 2:**\
10\
5


**Sample output 2:**\
Previous total: 2000\
New total after discount: 1850



*Explanation(2):   10 * 150 + 5 * 100= 2000Tk was her bill without discount.  For 2000Tk, the discount amount is 150Tk. So, her new bill with a discount is (2000-150)= 1850Tk.*

In [1]:
#task 1
#to do

num_fruitecake = int(input("enter fruit cake num: "))
num_cheesecake = int(input("enter cheese cake num: "))

total_value = (num_fruitecake*150) + (num_cheesecake*100)

if total_value >= 0 and total_value <= 250:
    final_value = total_value - 0
elif total_value >= 251 and total_value <= 599:
    final_value = total_value - 35
elif total_value >= 600 and total_value <= 849:
    final_value = total_value - 80
elif total_value >= 850 and total_value <= 999:
    final_value = total_value - 100
elif total_value >= 100:
    final_value = total_value - 150

print('her new bill with a discount is',final_value)

enter fruit cake num: 10
enter cheese cake num: 5
her new bill with a discount is 1850

# Task 02
Write a Python program that takes an input from the user and count how many **"5"** are present in the input.


 **<font color='red'>[You cannot use the count() function]</font>**


 
  ================================
 
**Sample input 1:**\
59555555 \
**Sample output 1:**\
7
 
  ================================

**Sample input 2:**\
81103212 \
**Sample output 2:**\
0

In [2]:
#task 2
#to do

user = int(input("enter input num: "))
count = 0
for num in str(user):
    value = int(num)
    if value  == 5:
        count = count+1
print(count)

enter input num: 59555555
7

# Task 03
Write a python program which takes **6** numbers as an input from the user using loops and store those values in a list. Then, your program should swap the first and last values of the list if they are different. However, if these two values are the same, then they will not be swapped. Lastly, your program should print all the elements of the final list.


 
  ================================
 
**Sample input 1:**\
1, 2, 3, 5, 1, 4\
**Sample output 1:**\
 4, 2, 3, 5, 1, 1\
 \

 *Explanation: first number in list = 1, last number in list = 4, first number and last number are different so we swap them, thus first number in list now becomes 4 and last number in the list becomes 1 which is what we see when we print the final list*
 
  ================================

**Sample input 2:**\
1, 2, 3, 2, 2, 1\
**Sample output 2:**\
1, 2, 3, 2, 2, 1\
\
*Explanation: first number in list = 1, last number in list = 1, first number and last number are same so no need to swap them, thus the final list is as it is when we print it*

In [4]:
#task 3
#to do



list1 = []
list2 = []
for num in range(6):
    number = int(input("enter: "))
    list1.append(number)
value1 = list1[0]
value2 = list1[-1]

if value1 != value2:
    list2=list1
    list2[0] = value2
    list2[-1] = value1
    print(list2)
if value1==value2:
    print(list1)


    
# AnonXarkA

enter: 1
enter: 2
enter: 3
enter: 5
enter: 1
enter: 4
[4, 2, 3, 5, 1, 1]